.banner_no_box {
    position: relative;
}

.banner_no_box img {
    width: 100%;
}

.edit_image {
    position: absolute;
    top: 3px;
    right: 0;
    background-color: #FFF;
    border-radius: 100px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 23px;
    margin: 3px;
}

.body_content_product{
    width: 100%;
    height: 70vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn_addProdcut {
    position: relative;
    bottom: 0;
    border-radius: 30px;
    background: #FF4F16;
    padding: 23px;
    box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.15);
    display: grid;
    margin: auto;
    text-align: center;
    width: 90%;
    color: #FFF;
}

@media screen and (max-width: 431px) {
}