:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --orange: #ff471a;
    --gray: #ccc;
    --black: #000;
}

.box_forgot {
    width: 80%;
    margin: auto;
    padding: 70px 0;
    text-align: center;
}
.title{
    margin-top: 1.5rem;
    font-size: 18px;
}
.container_form{
    margin-top: 3rem;
}

.box_infor{
  font-size: 18px;
  font-weight: 600;
  text-align: start;
}

.box_title{
    text-align: start;
    font-size: 18px;
    font-weight: 600;
}

/*============== Responsive =====================*/
@media (max-width: 768px) {
    .box_forgot {
      width: 100%;
      top: 40%;
      left: 50%;
    /* Adjusting width for medium-sized screens */
    }
  
   
  
    .container_form {
      width: 90%;
      display: grid;
    }
    .container_form input {
      width: 100%;
    }
    .box_infor{
      margin-left: 1.5rem;
    }
  
    
  }
  


  
