.box_forgot {
    width: 80%;
    margin: auto;
    padding: 70px 0;
    text-align: center;
}
.title{
    margin-top: 1.5rem;
    font-size: 18px;
}
.container_form{
    margin-top: 3rem;
}

form {
  display: grid;
  margin: 0 auto;
  gap: 15px;
  width: 40%;
}

form input,
form button {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 14px;
  border: 1px solid var(--gray);
}

form button {
  background-color: var(--orange);
  cursor: pointer;
  color: var(--white);
  font-size: 1.2rem;
}

form input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.box_infor{
  font-size: 18px;
  font-weight: 600;
  text-align: start;
}


.box_iconBack{
  margin-right: 28rem;
}
#iconBack{
  width: 30px;
  height: 40px;
}

/*============== Responsive =====================*/
@media (max-width: 768px) {
    .box_forgot {
      width: 80%;
      top: 40%;
      left: 50%;
    /* Adjusting width for medium-sized screens */
    }
  
    .cover {
      width: 100%;
      display: grid;
       /* Adjusting width for medium-sized screens */
    }
  
    .container_form {
      width: 90%;
      display: grid;
    }
    .container_form input {
      width: 100%;
    }
    .box_infor{
      margin-left: 1.5rem;
    }
   
  
    
  }
  


  
