* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --blue: #1e90ff;
    --white: #ffffff;
    --orange: #ff471a;
    --gray: #ccc;
    --black: #000;
  }
  
  form {
    display: grid;
    margin: 0 auto;
    gap: 15px;
    width: 40%;
  }
  
  form input,
  form button {
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 14px;
    border: 1px solid var(--gray);
  }
  
  form button {
    background-color: var(--orange);
    cursor: pointer;
    color: var(--white);
    font-size: 1.2rem;
  }
  
  form input:focus {
    outline: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /*===================================== Sign Up ====================================*/
  .sign-up {
    margin-top: 3rem;
    text-align: center;
  }
  
  .sign-up form .title {
    text-align: left;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  
  /*===================================== Sign Up ====================================*/
  
  /*===================================== Login ====================================*/
  .google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray);
    border-radius: 14px;
    padding: 1rem 3rem;
    width: 100%;
  }
  
  .google-login svg {
      height: 6vh;
  
  }
  
  /*===================================== Login ====================================*/
  
  
  /*===================================== Home ====================================*/
  .homepage {
    width: 100%;
  }
  
  .homepage .head_content {
    width: 70%;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .homepage .head_content .text,
  .homepage .head_content .filter {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 10px;
  }
  
  .homepage .head_content .text .spennofStyle {
    width: 20px;
    height: 40px;
    background-color: #FF4F16;
    border-radius: 4px;
  }
  
  .homepage .head_content .filter select:focus {
    outline: none;
  }
  .homepage .head_content .filter .box {
    display: flex;
    align-items: center;
  }
  
  .homepage .head_content .filter .box .filter-title {
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .homepage .product-area {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0 14rem;
  }
  
  .homepage .product-area .box-product {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    display: flex;
    border: 1px solid var(--gray);
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .homepage .product-area .box-product .img {
    width: 250px;
    height: 230px;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
  }
  
  .homepage .product-area .box-product .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .homepage .product-area .text {
    width: 100%;
    display: grid;
    text-align: left;
    padding: 10px 20px;
    gap: 7px;
  }
  
  /*===================================== Home ====================================*/
  
  /*===================================== Product detial ====================================*/
  
  .product-detial {
    width: 100%;
    /* background-color: #FF4F16; */
  }
  
  .product-detial .colors {
    display: flex;
  }
  .size {
    padding: 0.7rem 0;
  }
  
  .size {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .size input {
    display: none;
  }
  
  .echColor {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 1000px;
    border: 3px solid var(--black);
  
  }
  
  .echSize {
    cursor: pointer;
    padding: 7px 17px;
    border: 2px solid rgba(0, 0, 0, 0.30);
    border-radius: 5px;
  }
  
  .echSize.active {
    cursor: pointer;
    padding: 7px 17px;
    border: 2px solid var(--orange);
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
  }
  
  .echSize:hover {
    background-color: var(--orange);
    color: var(--white);
  }
  
  
  .Count_product {
    display: flex;
    gap: 1rem;
    padding: 25px 0;
  }
  
  .echbtn {
    padding: 10px 30px;
    border-radius: 7px;
    font-size: 17px;
    cursor: pointer;
  }
  
  .btnBut {
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--orange);
  
  }
  
  .btnBut:hover {
    background-color: var(--orange);
    color: var(--white);
  }
  
  .btnAdd {
    border: 1px solid var(--orange);
    color: var(--orange);
    cursor: pointer;
    background-color: var(--white);
  }
  
  .btnAdd:hover {
    background-color: #FF4F16;
    color: #fff;
  }
  
  .product-page-img {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  
  .myslides {
    width: 450px;
    height: 470px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  
  .myslides img {
    width: 450px;
    height: 450px;
    object-fit: contain;
  }
  
  
  
  .product-page-img .slider_img {
    width: 100%;
    height: 50px;
    overflow: scroll;
    display: flex;
    user-select: none;
    margin: auto;
  }
  
  .product-page-img .slider_img::-webkit-scrollbar {
    display: none;
  }
  
  .product-page-img .slider_img .slider-box {
    min-width: 50px;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid var(--gray);
    padding: 2px;
    opacity: 0.6px;
  }
  
  .product-page-img .slider_img .slider-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
  }
  
  .container_item_icon {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 1rem;
    font-size: 22px;
  }
  
  .container_item_icon span {
    text-align: center;
  }
  .container_minus_plus {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 5px;
  }
  
  .container_minus_plus:hover {
    background-color: #FF4F16;
    color: #FFF;
    cursor: pointer;
    border: none;
  }
  
  .txtContentproduct {
    width: 100%;
  }
  
  .description_container {
    width: 100%;
    padding: 1rem 14rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    overflow: hidden;
  }
  
  .description_container img {
    width: 100%;
    object-fit: cover;
  }
  
  
  /*===================================== Product detial ====================================*/