* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  :root {
    --blue: #1e90ff;
    --white: #ffffff;
    --orange: #ff471a;
    --gray: #ccc;
    --black: #000;
  }

.SellerPage_edit{
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
}

.box_image_profile{
    text-align: center;
}
.box_image_profile img{
    width: 10%;
    border-radius:50%;
}
.box_name{
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
}
.box_seller_edit{
    display: flex;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: var(--gray);
    margin-top: 1rem;
}


/*============== Responsive =====================*/
@media (max-width: 768px) {
    .SellerPage_edit {
      width: 100%;
      margin-top: 2.5rem;
    }
    
    .container_form input {
        width: 90%;
    }
    .box_text{
        width: 90%;
        margin: auto;
    }
   
  }